@import "../../style.css";

.icon {
  /* width: 20px; */
  /* height: 20px; */
  /* display: inline-block; */
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  vertical-align: middle;
  background-color: #b8b8b8;
}

.icon-editable {
  width: 30px !important;
  height: 40px !important;
  mask-image: url(../assets/pencil.png);
  -webkit-mask-image: url(../assets/pencil.png);
}

.container {
  padding-top: 50px;
}

.main-header {
  text-align: center;
  text-transform: uppercase;
}

.profile-box {
  display: flex;
  margin-top: 40px;
}

.profile-box .left-side-profile {
  width: 30%;
  display: flex;
  justify-content: center;
}

.profile-box .left-side-profile .profile-img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: red; */
}

.profile-box .left-side-profile .profile-img div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.profile-box .left-side-profile .profile-img:hover div {
  display: flex;
}

.profile-box .left-side-profile .profile-name {
  text-align: center;
  margin-top: 10px;
  font-size: 28px;
}

.profile-box .right-side-profile {
  width: 60%;
}

.profile-settings {
  margin-top: 25px;
}

.profile-settings label {
  display: block;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
}
.profile-settings select {
  background-color: transparent;
  color: var(--color-white);
  font-weight: 600;
  font-size: 28px;
  padding: 7px 20px;
  border: 1px white solid;
  margin-top: 10px;
}

.profile-settings input {
  border: 1px #fff solid;
  padding: 10px 15px;
  font-size: 28px;
  background-color: transparent;
  color: var(--color-white);
  width: 100%;
  max-width: 400px;
  font-weight: 600;
  margin-top: 10px;
}

.profile-settings .private-profile-btn {
  text-transform: uppercase;
  border: 1px white solid;
  color: var(--color-white);
  font-size: 28px;
  font-weight: 600;
  width: 150px;
  padding: 5px 0;
}
.profile-settings .icon {
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

.lock-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.footer {
  border-top: 2px #fff solid;
  width: 60%;
  margin-top: 50px;
  padding-top: 30px;
}

.btn-group {
  display: flex;
  gap: 40px;
}

.btn {
  color: var(--color-white);
  font-size: 24px;
  padding: 10px 0px;
  border: 1px #fff solid;
  width: 140px;
}

@media screen and (max-width: 800px) {
  .profile-box {
    display: block;
  }
  .profile-box .left-side-profile,
  .profile-box .right-side-profile {
    width: 100%;
  }

  .profile-box .right-side-profile {
    display: flex;
    justify-content: center;
  }

  .footer {
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
  }
  .container {
    padding: 20px 0;
  }
}
